// --------------------------------------------------
// Btns components
// --------------------------------------------------
.site-btn {
  display: inline-block;
  padding: 12px 25px;
  background: $colorAccent1;
  border-radius: 4px;
  color: #fff;
  font-family: $fontTitle;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease-in-out;

  -webkit-appearance: none;

 /* @media (max-width: 1040px) {
    padding: 8px 22px;
    font-size: 12px;
    line-height: 18px;
  }*/

  &:hover {
    background: $white;
    color: $colorAccent1;
  }

  &.is-outlined {
    border-radius: 0;
    border: 1px solid $white;
    background: transparent;

    &:hover {
      background: $white;
      color: $colorAccent1;
    }
  }

  &.has-arrow {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
  }

  .btn-arrow {
    margin:0 0 0 10px;
    font-size: 20px;
  }
}