#contactForm {
	position: relative;

	.form-field {
		display: flex;
		flex-direction: column;
		margin-top: 30px;

		&:last-of-type {
			width: calc(100% - 75px);
		}

		label {
			color: $grey;
			font-family: $fontText;
			font-size: 14px;
			letter-spacing: 2px;
			font-weight: 700;
		}

		input,
		textarea {
			margin-top: 15px;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 2px solid $grey;
			color: $white;
			font-size: 16px;
			font-family: $fontText;
			line-height: 30px;
			background: transparent;

			&::placeholder {
				color: $white;
				opacity: 1;
			}

			&:-ms-input-placeholder {
				color: $white;
			}

			&::-ms-input-placeholder {
				color: $white;
			}

			&:focus {
				outline: 0;
			}
		}

		textarea {
			resize: none;
			height: 150px;
		}
	}

	.form-btn {
		position: absolute;
		right: -25px;
		bottom: -25px;
		width: 72px;
		height: 72px;
		border: 0;
		border-radius: 50%;
		background: $colorAccent1;

		@media screen and (max-width: 899px) {
			right: 0;
			bottom: 0;
			width: 52px;
			height: 52px;
		}

		i {
			position: absolute;
			left: 54%;
			top: 52%;
			transform: translate3D(-50%, -50%, 0);
			font-size: 28px;
			text-align: center;

			@media screen and (max-width: 899px) {
				font-size: 24px;
			}
		}
	}
}