.main {
	height: 100%;
	width: 100%;

	&.main-light {
		background-color: $white;

		.reading-text {
			display: block;
			width: 100%;
			max-width: 900px;
			margin: 0 auto;
			color: #000;
			font-size: 18px;
		}
	}
}