.medium-title {
  font-family: $fontTitle;
  font-size: 27px;
  color: $colorAccent1;
  letter-spacing: -0.45px;
  line-height: 30px;
  font-weight: 600;
}

.reading-text {
  font-family: $fontText;
  font-size: 16px;
  color: $white;
  line-height: 24px;
  font-weight: 400;

  &.reading-text-dark {
    color: $colorAccent2;
  }
}

.text-dark {
  color: $colorAccent2;

  &:hover {
    color: $colorAccent2;
  }
}

.text-light {
  color: $white;

  &:hover {
    color: $white;
  }
}