// --------------------------------------------------
// Variables
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700');

// Fonts
$fontTitle: 'Work Sans', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontText: 'Work Sans', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Accents Colors
$colorAccent1: #4A90E2;
$colorAccent2: #121214;

// Blocks and Text
$dark: #000;
$white : #fff;
$grey: #AAB0BE;
// $darkGrey: #1D1D1D;
// $lightGrey: #7A7A7A;
