<section class="section contact">
	<div class="row">
		<div class="one-quarter">
			<h3 class="medium-title">Contacts</h3>
			<div class="regular-text">
				<p>
					Positive pleasure-oriented goals are much more powerful motivators than negative fear-based ones.
				</p>
			</div>
		</div>
		<div class="one-three-quarter">
			<form methond="post" action="" id="contactForm">
				<div class="form-field">
					<label for="fullName">Nom</label>
					<input type="text" name="fullName" placeholder="Nom" required>
				</div>

				<div class="form-field">
					<label for="email">E-mail</label>
					<input type="email" name="email" placeholder="E-mail" required>
				</div>

				<div class="form-field">
					<label for="message">Message</label>
					<textarea type="text" name="message" placeholder="Message et/ou commentaires" required></textarea>
				</div>

				<button type="submit" class="form-btn"><i class="icon-send"></i></button>
			</form>
		</div>
	</div>
</section>