<footer class="main-footer">
	<p class="footer-copyright">© 2018 Alexandre Gonfalonieri. {{ 'All Rights Reserved'|t }}.</p>
	<a class="footer-copyright" href="https://franckj.ca" target="_blank">{{ 'Developed by Franckj.ca' }}</a>
</footer>