<section class="header">
	<a href="{{ url('') }}" class="header-logo">
		<img src="/img/logo-alexg.svg" alt="Alex G. Logo">
	</a>

	<nav class="navbar">
		{% for navLink in globalNav.mainNav.all %}
    	<a href="{{ navLink.navLink.url }}" class="nav-link">{{ navLink.navLink.text }}</a>
    {% endfor %}
	</nav>

	<nav class="tools">
		{% for siteForEntry in entry.getSupportedSites %}
  		{% set site = craft.app.getSites.getSiteById(siteForEntry.siteId) %}
  		{% if site.id == entry.siteId %}
  		{% else %}
      	{% set entryForOtherSite = craft.entries.id(entry.id).site(site).one() %}
				<a href="{{ entryForOtherSite.getUrl() }}" class="nav-link lang">{{ site.language }}</a>
  		{% endif %}
		{% endfor %}
		
		<a href="{{ globalContact.contactLinkedin }}" target="_blank" class="nav-link"><i class="icon-linkedin"></i></a>

		<a href="#" class="nav-link mobile-burger"><i class="icon-menu"></i></a>
	</nav>
</section>