<section class="hero {{ pageClass }}" {% if pageClass is not same as('home') %}style="background-image: url({{ entry.heroImage.one.url }});"{% endif %}>
	{% if pageClass is same as('home') %}
		<div class="content">
			<div class="hero-title">
				{{ entry.heroHeading|raw }}
			</div>

			<h3 class="hero-secondary">{{ entry.heroSubtitle }}</h3>
		</div>
	{% else %}
		<div class="overlay"></div>
		<div class="content">
			<div class="hero-title">{{ entry.heroHeading|raw }}</div>
			{% if entry.heroSubtitle %}
				<h3 class="hero-subtitle">{{ entry.heroSubtitle }}</h3>
			{% endif %}
		</div>
	{% endif %}
</section>