{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layout/layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("index_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}
{% cache globally using key 'about' %}
	{% set pageClass = 'about' %}

	{% include '_partials/hero' %}

	{% include '_partials/blocks/blocks' %}

{% endcache %}
{% endblock %}