.hero {
	position: relative;
	left: 0;
	top: -84px;
	width: 100%;
	height: 100vh;
	margin-bottom: -84px;
	padding: 0 100px;
	background: $colorAccent2;

	@media screen and (max-width: 899px) {
		padding: 0 50px;
	}

	@media screen and (max-width: 767px) {
		padding: 0 20px;
	}

	&.home {
		.content {
			max-width: 1200px;
			align-items: flex-start;
			margin: 0 auto;
		}
	}
	
	&.about,
	&.project,
	&.resume {
		width: 100%;
		margin: 0 auto -84px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .5);
		}

		.content {
			position: relative;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 84px auto 0;
			border-bottom: 2px solid $grey;
			text-align: center;
			z-index: 1;

			@media screen and (max-width: 899px) {
				justify-content: center;
				height: 100vh;
			}
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		// max-width: 400px;
		height: 100%;

		.hero-title {
			margin: 0;
			font-family: $fontTitle;
			font-size: 48px;
			color: $white;
			letter-spacing: -0.43px;
			// text-align: center;
			line-height: 68px;
			font-weight: 500;

			@media screen and (max-width: 899px) {
				font-size: 32px;
				line-height: 34px;
			}

			strong {
				color: $colorAccent1;
				font-weight: 500;
			}
		}

		.hero-subtitle {
			color: $colorAccent1;
			font-weight: 400;
			text-align: center;
			font-size: 36px;
		}

		.hero-secondary {
			margin: 15px 0;
			font-family: $fontTitle;
			font-size: 36px;
			color: $grey;
			letter-spacing: -0.45px;
			// text-align: center;
			line-height: 62px;
			font-weight: 400;

			@media screen and (max-width: 899px) {
				font-size: 20px;
				line-height: 32px;
			}
		}
	}

	.hero-bottom {
		@media screen and (max-width: 767px) {
			margin: -50px 0 0;
		}
	}
}