// --------------------------------------------------
// Section
// --------------------------------------------------
.section {
  position: relative;
  width: 100%;
  padding: 50px 50px 0;

  @media screen and (max-width: 767px) {
    padding: 20px 20px 0;
  }

  &:last-of-type {
    padding: 50px ;

    @media screen and (max-width: 767px) {
      padding: 20px;
    }
  }

  &.section-full-width {
    padding: 50px 0 0;

    @media screen and (max-width: 899px) {
      padding: 50px 0 0;
    }

    @media screen and (max-width: 767px) {
      padding: 20px 0 0;
    }

    &.image {
      img {
        width: 100%;
      }
    }
  }

  &.section-light {
    background: $white;
  }

  &.section-blue {
    background: $colorAccent1;

    .reading-text {
      color: $white;

      h1,
      h2,
      h3 {
        text-align: center;
      }

      h1 {
        font-size: 36px;
      }

      h3 {
        font-size: 28px;
      }
    }
  }

  &.split-text-image {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 100px 50px 0;

    @media screen and (max-width: 899px) {
      flex-direction: column;
      padding: 50px 50px 0;
    }

    @media screen and (max-width: 767px) {
      padding: 25px 20px 0;
    }

    &.reverse {
      flex-direction: row-reverse;

      @media screen and (max-width: 899px) {
        flex-direction: column;
      }

      .image {
        .visual {
          margin: 0 auto 0 0;

          @media screen and (max-width: 899px) {
            margin: 25px auto;
          }
        }
      }
    }

    &.section-nopadding {
      padding: 0;
    }

    &.section-norightpadding {
      padding: 100px 0 0 50px;

      @media screen and (max-width: 899px) {
        padding: 50px 50px 0;
      }

      @media screen and (max-width: 767px) {
        padding: 25px 20px 0;
      }

      .image {
        @media screen and (max-width: 899px) {
          margin-right: -100px;
        }

        @media screen and (max-width: 767px) {
          margin-right: -50px;
        }
      }
    }

    &.text-top {
      align-items: flex-start;
    }

    .likes-wrapper {
      position: relative;
      width: 50%;
      height: 100%;
    }

    .likes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      .count {
        margin-bottom: 0;
        font-size: 46px;
        text-align: center;
      }

      .label {
        font-size: 33px;
        text-align: center;
      }
    }

    .text {
      width: 50%;

      @media screen and (max-width: 899px) {
        width: 100%;
      }

      .medium-title {
        margin-top: 0;
        color: $colorAccent1;
        text-align: left;

        @media screen and (max-width: 899px) {
          font-size: 28px;
        }
      }

      strong {
        color: $colorAccent1;
      }

      .reading-text {
        display: block;
        width: 100%;
        max-width: 550px;
        font-size: 18px;
        // margin: 0 auto;
      }
    }

    .video {
      width: 50%;

      @media screen and (max-width: 899px) {
        width: 100%;
      }

      .video-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto 0 0;
        overflow: hidden;

        @media screen and (max-width: 899px) {
          width: 100%;
          margin: 25px 0 0;
        }

        iframe {
          width: 100%;
          height: 450px;
          margin-right: 50px;

          @media screen and (max-width: 767px) {
            margin-right: 0;
          }
        }
      }
    }

    .image {
      width: 50%;

      @media screen and (max-width: 899px) {
        width: 100%;
      }

      .visual {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 0 0 auto;
        overflow: hidden;

        @media screen and (max-width: 899px) {
          width: 100%;
          margin: 25px 0 0;
        }

        &.image-full-width {
          @media screen and (max-width: 899px) {
            margin: 0;
          }

          img {
            width: 100%;
          }
        }

        img {
          width: auto;

          // @media screen and (max-width: 899px) {
          //   width: 100%;
          // }
        } 
      }
    }
  }

  &.text {
    &.section-text-center {
      padding: 25px 50px 25px;

      @media screen and (max-width: 767px) {
        padding: 10px 20px 10px;
      }

      .reading-text {
        font-weight: 600;
      }
    }

    .medium-title {
      margin-top: 0;
      color: $colorAccent1;
      text-align: left;

      @media screen and (max-width: 899px) {
        font-size: 28px;
      }
    }
  }

  &.contact {
    .medium-title {
      margin-bottom: 25px;
      text-align: left;
      color: $colorAccent1;
      font-size: 27px;
      line-height: 30px;
    }
  }

  &.image {
    &.image-width-75 {
      img {
        width: 75%;
        
        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }          
    }
    
    img {
      display: block;
      width: 520px;
      margin: 0 auto;

      @media screen and (max-width: 899px) {      
        width: 100%;
      }
    }
  }

  &.video {
    background-size: auto 100%;
    background-position: center right;
    background-repeat: no-repeat;

    iframe {
      display: block;
      width: 700px;
      margin: 0 auto;

      @media screen and (max-width: 899px) {
        width: 100%;
        height: 320px;
      }
    }
  }

  &.icon {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .medium-title {
    margin-bottom: 50px;
    color: $white;
    text-align: center;

    @media screen and (max-width: 899px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  .row {
    display: flex;
    width: 100%;

    @media screen and (max-width: 899px) {
      flex-direction: column;
    }

    &:first-of-type,
    &:last-of-type {
      .one-third {
        &:last-of-type {
          margin: 0;
        }
      }
    }

    &:first-of-type {
      @media screen and (max-width: 899px) {
        .one-third {
          &:last-of-type {
            margin: 0 0 20px;
          }
        }
      }
    }

    &.experience {
      padding: 100px 0;

      @media screen and (max-width: 899px) {
        padding: 50px 0;
      }
    }

    .one-half {
      width: 50%;
      height: 340px;
      margin: 0 20px 20px 0;
      background-color: $grey;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;

      &.background-left {
        background-position: center left;
      }

      &.background-right {
        background-position: center right;
      }

      @media screen and (max-width: 899px) {
        width: 100%;
        margin: 0 0 20px;
      }

      @media screen and (max-width: 449px) {
        background-size: 100% 100%;
      }

      &:last-of-type {
        margin: 0 0 20px;
      }
    }

    .one-third {
      width: calc(33.33% - 10px);
      height: 340px;
      margin: 0 20px 20px 0;
      background-color: $grey;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;

      @media screen and (max-width: 899px) {
        width: 100%;
        margin: 0 0 20px;
      }

      @media screen and (max-width: 449px) {
        background-size: 100% 100%;
      }

      &.background-left {
        background-position: center left;
      }

      &.background-right {
        background-position: center right;
      }
    }

    .one-quarter {
      width: calc(25%);

      @media screen and (max-width: 899px) {
        width: 100%;
      }
    }

    .one-three-quarter {
      width: calc(75% - 100px);
      margin: 0 0 0 100px;

      @media screen and (max-width: 899px) {
        width: 100%;
        margin:0;
      }
    }
  }

  .content {
    height: 100%;
    padding: 50px 0;

    @media screen and (max-width: 899px) {
      padding: 20px 0;
    }

    .medium-title,
    .regular-text {
      margin: 0;
      text-align: center;
    }

    .medium-title {
      margin-bottom: 25px;
      color: $colorAccent1;
      font-size: 27px;
      line-height: 30px;

      @media screen and (max-width: 899px) {
        font-size: 24px;
      }
    }

    .regular-text {
      font-size: 24px;
      letter-spacing: -0.4px;
      line-height: 32px;

      @media screen and (max-width: 899px) {
        font-size: 18px;
        line-height: 28px;
      }

      a {
        font-weight: 600;
      } 
    }

    a {
      display: block;
      width: max-content;
      margin: 0 auto;

      &:first-of-type {
        margin-bottom: 25px;
      }
    }

    .home-socials {
      display: flex;
      justify-content: center;

      a {
        margin: 0 5px;
      }
    }
  }
}

.experience-listing {
  .experience-item {
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .experience-job-title,
  .experience-job-date {
    color: $colorAccent1;
    text-align: left;

    &:first-of-type {
      margin: 0 0 15px;
      font-size: 28px;
    }

    &:last-of-type {
      margin: 15px 0;
      font-weight: 400;
      font-size: 22px;
    }
  }
}

.education-listing {
  @media screen and (max-width: 899px) {
    margin-bottom: 25px;
  }

  .medium-title {
    margin: 0 0 25px;
    color: $colorAccent1;
    text-align: left;

    @media screen and (max-width: 899px) {
      font-size: 28px;
    }
  }

  a {
    display: block;
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  strong {
    color: $colorAccent1;
  }
}

.project-title {
  margin-left: 20px;
  font-weight: 500;
  font-family: $fontText;
}

.download-resume {
  width: max-content;
  padding: 10px;
  border: 2px solid $colorAccent1;
  border-radius: 3px;
}