.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  border-top: 1px solid $grey;

  @media screen and (max-width: 899px) {
    flex-direction: column;
    padding: 15px 50px;
  }

  @media screen and (max-width: 767px) {
    padding: 15px 20px;
  }

  .footer-copyright {
    margin: 0;
    font-family: $fontText;
    font-size: 14px;
    color: $grey;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 30px;

    @media screen and (max-width: 899px) {
      font-size: 12px;
      line-height: 28px;
    }
  }
}