// --------------------------------------------------
// Header
// --------------------------------------------------

.header {
  position: relative;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 100px;
  color: #fff;
  z-index: 15;
  background-color: $colorAccent2;

  @media screen and (max-width: 899px) {
    padding: 20px 50px;
  }

  @media screen and (max-width: 767px) {
    padding: 20px;
  }

  .header-logo {
    img {
      width: 50px;

      @media screen and (max-width: 899px) {
        width: 40px;
      }
    }
  }

  .navbar {
    margin: 0 0 0 auto;

    @media screen and (max-width: 767px) {
      position: absolute;
      top: 84px;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 0;
      margin: 0;
      text-align: center;
      background: $colorAccent2;
      overflow: hidden;
      transition: height .3s ease;
    }

    &.is-open {
      @media screen and (max-width: 767px) {
        height: 250px;
      }
    }

    .nav-link {
      @media screen and (max-width: 767px) {
        margin-left: 0;
        margin-top: 25px;
        font-size: 18px;
      }

      &:first-of-type {
        margin-left: 0;

        @media screen and (max-width: 767px) {
          margin-left: 0;
          margin-top: 0;
        }
      }
    }
  }

  .nav-link {
    margin-left: 30px;
    font-family: $fontText;
    font-weight: 700;
    font-size: 13px;
    color: $grey;
    letter-spacing: 3.25px;
    transition: color .3s ease;

    @media screen and (max-width: 767px) {
      &:first-of-type {
        margin-left: 0;
      } 
    }

    &.lang {
      text-transform: uppercase;
    }

    &:hover {
      color: $colorAccent1;
    }

    .icon-linkedin {
      color: $colorAccent1;
      font-size: 16px;
    }
  }

  .tools {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      margin: 0 0 0 auto;
    }
  }

  .mobile-burger {
    display: none;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}