{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layout/layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("entry_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}

	{% include '_partials/hero' with { 'pageClass': 'project' }%}

	{% include '_partials/blocks/blocks' %}

{% endblock %}