{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layout/layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("index_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}
{% cache globally using key 'resume' %}

	{% include '_partials/hero' with { 'pageClass': 'resume' }%}

	<section class="section">
		<div class="row experience">
			<aside class="one-quarter education-listing">
				<h3 class="medium-title">{{ 'Education'|t }}</h3>

				<div class="regular-text">
					{% for element in entry.resumeStudies.all() %}
						<p>{{ element.study }}</p>
					{% endfor %}
				</div>

				<h3 class="medium-title">{{ 'Contact'|t }}</h3>

				<a href="mailto:{{ globalContact.contactEmail }}" target="_blank">{{ globalContact.contactEmail }}</a>
				<a href="{{ globalContact.contactLinkedin }}" target="_blank">{{ 'Follow me on'|t }} <strong>Linkedin</strong></a>

				{% if entry.resumeCV %}
					<a class="download-resume" href="{{ entry.resumeCV.url }}" {% if entry.resumeCV.target %}target="_blank"{% endif %}
					>{{ entry.resumeCV.text }}</a>
				{% endif %}
			</aside>
			<div class="one-three-quarter experience-listing">
				{% for element in entry.resumeExperiences.all() %}
					<div class="experience-item">
						<h3 class="medium-title experience-job-title">{{ element.heading }}</h3>
						<h3 class="medium-title experience-job-date">{{ element.period }}</h3>

						<div class="regular-text experience-job-description">
							{{ element.text|raw }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endcache %}
{% endblock %}