<!DOCTYPE html>
<html lang="fr">
{% set baseUrl = alias('@baseUrl') ~ '/' %}
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />
  {# {% hook "seo" %} #}

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="referrer" content="origin-when-cross-origin" />

  {# SEO Start #}
  {# Tip: You can pass the handle of your SEO field - getSeoField('mySeoFieldHandle') #}
  {% set seo = getSeoField('commonSeo') %}
  {% if seo is null or seo.title == '' %}
    {% set seo = craft.seo.custom(siteName, '', true) %}
  {% endif -%}

  {% set locale = craft.app.locale %}
  {% set locales = craft.app.i18n.siteLocaleIds|without(locale) %}

  <title>{{ seo.title }}</title>
  <meta name="description" content="{{ seo.description }}" />

  {% set fb = seo.social.facebook -%}
  <meta property="fb:app_id" content="{{ fb.handle }}">
  <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ seo.title }}" />
  <meta property="og:image" content="https://alexandregonfalonieri.com/files/page/og-image-alexg.png" />
  <meta property="og:description" content="{{ fb.description }}" />
  <meta property="og:site_name" content="{{ seo.title }}" />
  <meta property="og:locale" content="{{ locale }}" />
  {% for locale in locales -%}
    <meta property="og:locale:alternate" content="{{ locale }}" />
  {% endfor %}

  {% set tw = seo.social.twitter -%}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ tw.handle }}" />
  <meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}" />
  <meta name="twitter:title" content="{{ tw.title }}" />
  <meta name="twitter:description" content="{{ tw.description }}" />
  <meta name="twitter:image" content="{{ craft.seo.twitterImage(tw.image) }}" />

  <link rel="home" href="{{ siteUrl }}" />
  <link rel="canonical" href="{{ craft.app.request.absoluteUrl }}">
  {# SEO End #}

	<link rel="stylesheet" href="/css/site.combined.min.css">

	{%- minify -%}
    {# -- Site fonts -- #}
    <style>
      {% include "_inlinecss/_site_fonts.css" %}
    </style>
  {%- endminify -%}
  {# -- FontFaceObserver -- #}
  <!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=1/" -->
  <!--#else -->
  <script>
    {{ source("_inlinejs/fontfaceobserver.min.js") }}
    {{ source("_inlinejs/asyncload-site-fonts.min.js") }}
  </script>
  <!--#endif -->
  {%- minify -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130657419-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130657419-1');
  </script>

  {# -- </head> JS -- #}
  {% block _head_js %}
  {% endblock %}
</head>
<body >
	{% include '_partials/header' %}

	<main class="main {% if entry.section.handle is same as('projets') %}main-light{% endif %}">
		{% block content %}
		
		{% endblock %}
	</main>

  {% include '_partials/footer' %}

  <script src="/js/site.combined.min.js"></script>

  {# App Scripts init #}
  <script>
    site.App.init({
      env: "{{ craft.app.config.general.custom.craftEnv }}",
      csrf: "{{ craft.app.request.csrfToken|escape("js") }}",
      locale: "{{ craft.app.language }}",
      device: "{% if craft.app.request.isMobileBrowser() %}mobile{% else %}desktop{% endif %}",
      preview: {% if craft.app.request.isLivePreview %}true{% else %}false{% endif %},
      general: {
        googleMaps: "{{ craft.app.config.general.apiKeys.googleMaps }}"
      }
    });
  </script>

  {# -- Inline JS -- #}
  {% block _inline_js %}
  {% endblock %}

  {%- endminify -%}
</body>
</html>