{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layout/layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("index_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}
	{% include '_partials/hero' with { 'pageClass': 'home' } %}

	<section class="section">
		{# <h3 class="medium-title">De la stratégie marketing au développement Web, en passant par l'écriture sur les médias sociaux, mon objectif principal est de faire en sorte que les marques se démarquent.</h3> #}

		{% for element in entry.homeProjects.all() %}
			{% if loop.index == 1 or loop.index == 4 or loop.index == 6 %}
				<div class="row">
			{% endif %}

			{% if loop.index == 4 or loop.index == 5 %}
				<a href="{{ element.url }}" class="one-half{{ element.projectThumb.alignLeft ? ' background-left' }}{{ element.projectThumb.alignRight ? ' background-right' }}" style="background-color: {{ element.projectThumb.backgroundColor }}; background-image: url({{ element.projectThumb.image.one.url }});">
					<p class="project-title {{ element.projectThumb.backgroundColor == '#ffffff' ? 'text-dark' : 'text-light' }}">{{ element.title }}</p>
					{# <img src="{{ element.projectThumb.one.url }}"> #}
				</a>
			{% elseif (loop.index >= 1 or loop.index <= 3) or (loop.index >= 6 or loop.index <= 8) %}
				<a href="{{ element.url }}" class="one-third{{ element.projectThumb.alignLeft ? ' background-left' }}{{ element.projectThumb.alignRight ? ' background-right' }}" style="background-color: {{ element.projectThumb.backgroundColor }}; background-image: url({{ element.projectThumb.image.one.url }});">
					<p class="project-title {{ element.projectThumb.backgroundColor == '#ffffff' ? 'text-dark' : 'text-light' }}">{{ element.title }}</p>
					{# <img src="{{ element.projectThumb.one.url }}"> #}
				</a>
			{% endif %}

			{% if loop.index == 3 or loop.index == 5 or loop.index == 8 %}
				</div>
			{% endif %}
		{% endfor %}
	</section>

	<section class="section">
		<div class="content">
			<h2 class="medium-title">{{ entry.homeContact.heading }}</h2>

			<div class="regular-text">
				 {{ entry.homeContact.text|raw }}
			</div>

			<a href="mailto:{{ globalContact.contactEmail }}" target="_blank">{{ globalContact.contactEmail }}</a>

			<div class="home-socials">
				<a href="{{ globalContact.contactLinkedin }}" target="_blank"><i class="icon-linkedin"></i></a>

				<a href="{{ globalContact.contactMedium }}" target="_blank"><i class="icon-medium"></i></a>
			</div>
		</div>
	</section>

	{# {% include '_partials/contact-form' %} #}
{% endblock %}