{% set blocks = entry.contentBlocks.all() %}

{% for block in blocks %}
	{% switch block.type %}

		{% case "splitImageText" %}
			{% include '_partials/blocks/split-text-image' %}
		
		{% case "text" %}
			{% include '_partials/blocks/text' %}

		{% case "image" %}
			{% include '_partials/blocks/image' %}

		{% case "icon" %}
			{% include '_partials/blocks/icon' %}

		{% case "video" %}
			{% include '_partials/blocks/video' %}
			
	{% endswitch %}
{% endfor %}
