{% set cropAvatar = pageClass is same as('about') ? true : false %}

{% set thumb = {
	mode: 'crop',
	width: 400,
	height: 400,
	quality: 100,
	position: 'center'
} %}

<section class="section split-text-image{{ block.backgroundBlue ? ' section-blue' : '' }}{{ block.noPadding ? ' section-nopadding' : '' }}{{ block.noRightPadding ? ' section-norightpadding' : '' }}{{ block.imageRight ? '' : ' reverse' }}{{ block.textOnTop ? ' text-top' : '' }}">
	{% if block.likes.one.count %}
		<div class="likes-wrapper">
			<div class="likes">
				{% for stat in block.likes %}
					<h2 class="count">{{ stat.count }}</h2>
					<h3 class="label">{{ stat.label }}</h3>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<div class="text">
			{% if block.heading %}
			<h2 class="medium-title">{{ block.heading }}</h2>
			{% endif %}

			<div class="reading-text">
				{{ block.text|raw }}
			</div>
		</div>
	{% endif %}
		
	{% if block.image is defined and block.image.one.url %}
		<div class="image">
			<div class="visual{{ block.imageFullWidth ? ' image-full-width' : '' }}">

				<img src="{{ cropAvatar ? block.image.one.getUrl(thumb) : block.image.one.url }}" alt="">
			</div>
		</div>
	{% elseif block.video is defined and block.video %}
		<div class="video">
			<div class="video-wrapper">
				<iframe
					src="{{ block.video }}" frameborder="0" allowfullscreen>
				</iframe>
				{# <img src="{{ cropAvatar ? block.image.one.getUrl(thumb) : block.image.one.url }}" alt=""> #}
			</div>
		</div>
	{% endif %}
</section>