<section class="section text {{ block.textCenter ? 'section-text-center' : '' }} {{ block.backgroundBlue ? 'section-blue' : '' }}">
	{% if block.heading %}
		<h2 class="medium-title">{{ block.heading }}</h2>
	{% endif %}
	
	<div class="reading-text">
		{{ block.text|raw }}
	</div>
	{# <img class="icon-peace" src="/img/icon-fingers-v.svg"> #}
</section>