<section class="section video" {% if block.image is defined and block.videoBackground.one.url %}style="background-image: url({{ block.videoBackground.one.url }});"{% endif %}>
	<iframe height="450px"
	src="{{ block.video }}" frameborder="0" allowfullscreen>
	</iframe>
</section>